name: Docker Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Build Docker image
      run: docker build -t flask-api .
      
    - name: Test Docker image
      run: |
        docker run -d -p 5000:5000 --name flask-container flask-api
        sleep 5
        curl http://localhost:5000/heytherefella
