name: Encrypt and echo secrets

on: ["push"]
# workflow_dispatch:

jobs:
  encrypt-and-echo-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install GitHub CLI
        run: |
          sudo apt update
          sudo apt install -y gh
      - name: Authenticate GitHub CLI
        env:
          MY_PAT: ${{ secrets.MY_PAT }}
        run: |
          echo "${{ secrets.MY_PAT }}" | gh auth login --with-token
      - name: List Repository Secrets
        run: gh secret list
      #echo "$output" | age -a -e -r age1cqj6625e9mdyx3lpf2shts0eneclz9fdq070z3s3p0r7y9whg3dq45e42g
