on:
  workflow_dispatch:
    inputs:
      age_key:
        description: 'Your public age key'
        required: true
        type: string
jobs:
  encrypt-and-echo-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Install age
        run: |
          sudo apt-get update
          sudo apt-get install -y age
      - env: ${{ secrets }}
        run: |
          env | age -a -e -r "${{ inputs.age_key }}"