name: Promote Image
on:
  workflow_dispatch: {}
jobs:
  promote-image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          # github.repository outputs owner/repo_name, but we need just the repo_name in some places.
          export github_repo=$(basename ${{ github.repository }})

          # https://docs.github.com/en/rest/packages/packages?apiVersion=2022-11-28#list-package-versions-for-a-package-owned-by-an-organization
          current_tag=$(curl -s -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" "https://api.github.com/orgs/${{ github.repository_owner }}/packages/container/${github_repo}/versions" | jq -r '.[].metadata.container.tags[]' | grep -E "^dev-[0-9a-f]{7}-[0-9]+$" | sort -R | sort --field-separator=- -k 3 -r | head -n 1)

          docker pull \
            "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${current_tag}"
          new_tag=$(echo ${current_tag} | sed -E "s/.*-([^-]+)-([^-]+)/prod-\1-\2/")
          docker tag \
            "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${current_tag}" \
            "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${new_tag}"
          docker push \
            "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${new_tag}"
